*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 100%;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-weight: bold;
}
.wrapper{
    width: 100%;
    height: 30vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
#search {
    font-weight: bold;
}

#search button {
    font-size: inherit;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
#load{
    display: none;
    font-weight: bold;
}

#weather-result {
    /* display set to flex when ajax request is triggered */
    display: none;     
    justify-content: space-evenly;
    padding: 30px;
    border: 1px solid #ccc;
    width: 500px;
    background-color: deepskyblue;
    color: white;
    box-sizing: border-box;
    font-weight: bold;
}